/* Debug */

[class*="col-"] {
    background-color:teal;
    border: 2px solid white;
    min-height: 40px;
    padding: 15px;
}

.row {
    height: 100%;
}

section {
    margin-bottom: 20px;
}

.orange {
    background-color: orangered;
}

.tall {
    height: 150px;
}